:root {
  --gruvbox-bg: #282828;
  --gruvbox-fg: #ebdbb2;
  --gruvbox-dark-gray: #3c3836;
  --gruvbox-medium-gray: #504945;
  --gruvbox-light-gray: #665c54;
  --gruvbox-red: #cc241d;
  --gruvbox-green: #98971a;
  --gruvbox-yellow: #d79921;
  --gruvbox-blue: #458588;
  --gruvbox-purple: #b16286;
  --gruvbox-aqua: #689d6a;
  --gruvbox-orange: #d65d0e;
}
